 @media screen and (max-width: 768px){

  .hero{
    width: 100%;
  }
  .form-box{
    margin: auto;
  }
  .hero-img {
    display: none;
  }
 }

  @media screen and (max-width: 768px) {
    .about-section {
      flex-direction: column; /* Stack items vertically on smaller screens */
    }
  
    .description,
    .about-image {
      width: 100%; /* Make both sections take full width on smaller screens */
      margin-right: 0;
    }
  }
  @media screen and (max-width: 768px) {
    .choose-section {
      width: 100%;
    }
  
    .choose-description,
    .choose,
    .choose-image {
      width: 100%; /* Make both sections take full width on smaller screens */
      margin-right: 0;
    }
    .choose-image{
      display: none;
    }
   
  }
  @media (width < 900px){
    .blog__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
  @media (width < 600px){
    .blog__grid {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 2rem;
    }
  }
  
  