 @media screen and (max-width: 768px){

  .hero{
    width: 100%;
  }
  .form-box{
    margin: auto;
  }
  .hero-img {
    display: none;
  }
  .login-hero-img img{
   display: none;
  }
 }

  @media screen and (max-width: 768px) {
    .about-section {
      flex-direction: column; /* Stack items vertically on smaller screens */
    }
  
    .description,
    .about-image {
      width: 100%; /* Make both sections take full width on smaller screens */
      margin-right: 0;
    }
  }
  @media screen and (max-width: 768px) {
    .choose-section {
      width: 100%;
    }
  
    .choose-description,
    .choose,
    .choose-image {
      width: 100%; /* Make both sections take full width on smaller screens */
      margin-right: 0;
    }
    .choose-image{
      display: none;
    }
  }
  
  