/* Reset default browser styles */                
:root {
    --primary-color: #2f2f2f;
    --text-dark: #18181b;
    --text-light: #71717a;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font:"Titillium Web", sans-serif;
  }
  
  .section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgb(88, 88, 88),rgb(236, 235, 235));
    border: 0;
    border-radius: 30px;
    outline: none;
 }
 
  
  html,
  body {
    scroll-behavior: smooth;
  }
  main{
    margin-top: 100px;
  }

/* Body styles */
body {
    font-family: 'Black bison', sans-serif;
    background-image: linear-gradient(
        to right, rgb(236, 235, 235), rgb(161, 159, 159)
    );
  }

.socials_media_icons{
  padding:0px;
  margin:0px;
  position:fixed;
  right:-130px;
  top:230px;
  width:166px;
  z-index: 1100;
}
.socials_sticky li{
  border-radius: 10px;
  list-style-type:none;
  background-color:rgb(255, 255, 255);
  color:#efefef;
  height:43px;
  padding:0px;
  margin:0px 0px 1px 0px;
  -webkit-transition:all 0.25s ease-in-out;
  -moz-transition:all 0.25s ease-in-out;
  -o-transition:all 0.25s ease-in-out;
  transition:all 0.25s ease-in-out;
  cursor:pointer;
}
.socials_sticky li:hover{
  margin-left:-115px;
}
.socials_sticky li img{
  float:left;
  margin:5px 4px;
  margin-right:5px;
}
.socials_sticky li p{
  padding-top:14px;
  display: flex;
  margin:0px;
  line-height:16px;
  font-size:16px;
}
.socials_sticky li p a{
  text-decoration:none;
  color:#2C3539;
}
.socials_sticky li p a:hover{
  color: #00c3ff;
}
/* Register and login form*/
.hero{
    display: block;
    height: fit-content;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    margin-left: 100px;
    margin-top: 10px;
    width: 380px;
    height: fit-content;
    position: relative;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, rgb(88, 88, 88),rgb(236, 235, 235));
    border-radius: 30px;
    transition: .5s;
}
.social-reg{
    margin: 20px auto;
    text-align: center;
}
.social-reg img{
    width: 30px;
    margin: 0 12px;
    cursor: pointer;
}
.input-group{
    top: 140px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #333;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgb(88, 88, 88),rgb(236, 235, 235));
    border: 0;
    border-radius: 30px;
    outline: none;
}
.check-box{
    margin: 30px 10px 30px 0;
}
.check-box span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
.p-formlog{
    margin: 30px 10px 30px 0;
}
.p-formreg{
  margin: 12px 5px 12px 0;

}
.p-formlog, .p-formreg a{
    text-decoration: none;
}
#login{
    left: 50px;
}
#signup{
    left: 50px;
}


  /*blog*/
  .blog__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  .blog__card img {
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

    display: flex;
    width: 100%;
  }
  
  .blog__card h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .blog__card p {
    font-weight: 500;
    color: var(--text-dark);
  }
  
  .blog__card p span {
    font-weight: 400;
    font-style: italic;
    color: var(--text-light);
  }



@media (width < 1200px) {
  .offer__container {
    row-gap: 1rem;
  }

  .offer__grid__top,
  .offer__grid__bottom {
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .offer__grid__top img:first-child,
  .offer__grid__bottom img:first-child {
    display: none;
  }

  .craft__container {
    gap: 1rem;
  }
}
/*css for products page*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .product {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    flex: 0 0 calc(25% - 40px); /* 25% width for four products, minus margin */
  }
  
  .product img {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }
  
  .description {
    margin-bottom: 10px; /* Add margin to separate description from image */
  }
  
 .price-container {
  display: flex;
  justify-content: center;
}

.previous-price {
  margin-right: 5px; /* Add margin between previous price and current price */
  text-decoration: line-through;
  color: red;
}

.current-price {
  color: black; /* Adjust color as needed */
}

  
  .wishlist-btn, .cart-btn, .view-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .wishlist-btn:hover, .cart-btn:hover, .view-btn:hover {
    background-color: #ff6105;
  }
/*contact us styles*/
.contact_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}
.contact_content {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
}
.contact_text {
  padding: 20px;
  margin-left: 30px;
}
.contact_text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.contact_text p {
  font-size: 16px;
  line-height: 1.6;
}
.contact_image {
  flex: 1;
  text-align: center;
}
.contact_image img {
  max-width: 100%;
  height: auto;
}
.contact_content1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
}
.contact_map {
  width: 100%;
  margin-top: 20px;
}

#contact-form{
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--boderColor);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 50px;
  background-color: var(--secondaryColor);
}
#contact-form label{
  line-height: 2.7em;
}
#contact-form textarea{
  min-height: 100px;
  font-size: 14px;
}


#submit-btn{
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  color: #fff;
  background-color: black;
  border: none;
}
.input-field{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eaeaea;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  font-size: 14px;
}
@media (max-width: 768px) {
  .contact_content {
      flex-direction: column;
  }
  .contact_content1 {
    flex-direction: column;
}
}
/*About us styles*/
.about_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}
.team-member {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  
}
.team-member img {
  max-width: 200px;
  margin-inline: auto;
  margin-bottom: 1rem;
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

}
.testimonial__container .section__header {
  text-align: center;
}

.swiper {
  margin-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

.testimonial__card {
  max-width: 900px;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

.testimonial__card p {
  margin-bottom: 1rem;
  font-size: 1.1rem;

}

.testimonial__card img {
  max-width: 60px;
  margin-inline: auto;
  margin-bottom: 1rem;
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.testimonial__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.testimonial__card h5 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}
 /* Dropdown Button */
 .dropdown > a {
  display: block;
  text-decoration: none;
  color: #333;
  position: relative;
}

/* Dropdown Menu */
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgb(216, 216, 216);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Dropdown Links */
.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  text-decoration: none;
  color: #333;
}

/* Dropdown Hover Effect */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Dropdown Icon */
.dropdown > a i {
  margin-left: 5px;
}
.about-container {
  max-width: 1100px;
  margin: 20px auto;
  padding: 20px;
}

.about-section {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to new line on smaller screens */
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 100%; /* Adjust image width to fill its container */
  height: auto;
  border-radius: 6px;
}

.about-description {
  flex: 1;
  background-color: rgb(216, 216, 216);
  margin-right: 30px;
  margin-bottom: 20px; /* Added margin-bottom for spacing */
  padding: 20px;
  border-radius: 6px;
}

.mission-vision-section {
  margin-top: 50px;
}

.mission,
.vision {
  margin-bottom: 30px;
}

h2 {
  color: #333;
}

p {
  color: #666;
}

.banner-container {
  position: relative;
  text-align: center;
}

.centered img {
  filter: blur(3px);
  -webkit-filter: blur(1px);
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px; /* Adjusted margin */
}

.centered h3 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%); /* Center the text horizontally */
  font-size: 40px; /* Adjusted font size for smaller screens */
  text-align: center;
}

.choose-section {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to new line on smaller screens */
}

.choose-image {
  flex: 1;
}
.choose-items{
  padding: 20px;
}

.choose-image img {
  width: 100%; /* Adjust image width to fill its container */
  height: auto;
  border-radius: 6px;
}
.des-section{
  display: block;
  justify-content: center;
}
.choose-description {
  flex: 1;
  margin-right: 30px;
  padding: 20px;
  border-radius: 6px;
}

.choose {
  display: flex;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
