{% extends 'base.html' %}
{% load static %}
{% block title %}My profile{% endblock %}
{% block content %}

<style>
    .change-password-container {
    width: 90%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
    background-image: linear-gradient(
        to right, rgb(236, 235, 235), rgb(161, 159, 159)
    );
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
}


.change-password-form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    text-align: center;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid #bbb;
    border-radius: 4px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, rgb(88, 88, 88),rgb(236, 235, 235));    
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #45a049;
}

.messages {
    margin-bottom: 20px;
}

.message {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .change-password-container {
        width: 100%;
        padding: 10px;
    }
}
</style>
<main>
    <div class="change-password-container">
        
        <section class="change-password-form">
            <h1 style="text-align: center; margin-bottom: 10px;">Change Password</h1>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p class="message {{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            
            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="old_password">Old Password</label>
                    <input type="password" id="old_password" name="old_password" required>
                </div>
                <div class="form-group">
                    <label for="new_password">New Password</label>
                    <input type="password" id="new_password" name="new_password" required>
                </div>
                <div class="form-group">
                    <label for="confirm_new_password">Confirm New Password</label>
                    <input type="password" id="confirm_new_password" name="confirm_new_password" required>
                </div>
                <div class="form-group">
                    <button type="submit">Change Password</button>
                </div>
            </form>
        </section>
    </div>
</main>
{% endblock %}