{% extends 'base.html' %}
{% load static %}
{% block title %}Sign up{% endblock %}
{% block content %}
<main>
    <style>
        /* Your existing styles */
        .signup-container {
            display: flex;
            justify-content: start;
            align-items: flex-start;
            margin: 20px;
        }
    
        .signup-form {
            width: 60%;
            max-width: 500px;
            background-color: rgb(216, 216, 216);
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-left: 20px;
            margin-bottom: 20px;
        }
    
        .form-group {
            margin-bottom: 20px;
        }
    
        .form-group label {
            display: block;
            font-weight: bold;
        }
    
        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: rgb(250, 250, 250);
            box-sizing: border-box;
        }
    
        .form-group textarea {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
            background-color: rgb(245, 244, 244);
            box-sizing: border-box;
            resize: vertical;
        }
    
        /* Responsive styles */
        @media only screen and (max-width: 768px) {
            .signup-container {
                flex-direction: column;
                align-items: center;
            }
    
            .signup-form {
                width: 100%;
                margin-top: 20px;
                margin-right: 20px;
            }
        }
    </style>


    {% if form.errors %}
<div style="width: fit-content; margin-left: 280px;" class="alert alert-danger">
    <strong>{{form.errors}}</strong>
</div>

{% endif %}
<!-- <div  class="hero">
</div> -->
<div class="signup-container">
    <form class="signup-form" id="signup" method="post">
        <h2>Create Account</h2>
        {% csrf_token %}
        <div style="display: flex; justify-content: space-between;" class="form-group">
            <div>
            <label for="name">First name:</label>
            {{ form.first_name }}</div>
            <div>
            <label for="name">Last name:</label>
            {{ form.last_name }}</div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            {{ form.email }}        </div>
        <div class="form-group">
            <label for="email">Username:</label>
            {{ form.username }}        </div>
        <div class="form-group">
            <label for="cvv">Phone no:</label>
            {{ form.phone_no}}        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            {{ form.address}}        
        </div>

        <div class="form-group">
            <label for="card">Company/Instituition</label>
            {{ form.company}}       
         </div>
         <div style="display: flex; justify-content: space-between;" class="form-group">
            <div>
            <label for="password">Password</label>
            {{ form.password1}}
            </div>
            <div>
            <label for="password">Confirm Password</label>
            {{ form.password2}}</div>
        </div>
            
        <div class="form-group">
            <button class="submit-btn" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="hero-img"> <img style=" margin-left: auto; margin: 50px;" src="{% static 'img/furniturestore-shop-pic1.webp' %}"  alt=""></div>

</div>

</main>
{% endblock %}