{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock %}
{% block content %}

<main>

	  <div class="about-container">
		
		<div class="banner-container">
		<div class="centered">
			<img src="{% static 'img/banner.jpg' %}" alt="">
			<h3>About Us</h3>
		</div>	
		</div>
		<div class="about-section">
			 <div class="about-description">
			<h1 style="text-align: start;" style="margin-bottom: 30px;">Who we Are</h1>
			<p style="text-align: start;">
				Vector Woodcrafts and Interior limited offers you the finest and affordable wood products for your interior décor. We specialize in the production of custom furniture pieces from pure solid wood or steel-wood composite.
				We work hand-in-had with our clients through design stage to commissioning masterpiece products.
			</p>
      <br>
      <h1 style="text-align: start;" style="margin-bottom: 30px;">Our Mission</h1>
			<p style="text-align: start;">We are dedicated to providing our clients with quality and affordable products for interior solutions while exceeding customer expectations.</p>
      <br>
      <h1 style="text-align: start;" style="margin-bottom: 30px;">Our Vision</h1>
			<p style="text-align: start;">We look forward to becoming the most preferred store providing standardized quality and unique wood products.</p>
		  </div>
		  <div class="about-image">
			<!-- Your image goes here -->
			<img src="{% static 'img/about.jpg' %}" alt="Company Image">
		  </div>
		 
		</div>
	
	  </div>
	
</main>


{% endblock %}