{% extends 'base.html' %}
{% load static %}
{% block content %}

<main >
	<div class="about_container">
		<h2>Our Story</h2>
		<p>We founded XYZ Furniture with a passion for craftsmanship and design. Our journey began in [year], when [founder's name] set out to create high-quality furniture that combines elegance, comfort, and sustainability.</p>
		
		<h2>Our Team</h2>
		<div class="team-member">
			<div>
			<img src="{% static 'img/profile-pic-1.jpg' %}" alt="John Doe">
			<p><strong>John Doe</strong><br>Founder & CEO</p>
			</div>
	 
	   <div>
		<img src="{% static 'img/profile-pic-2.jpg' %}" alt="Jane Smith">
		<p><strong>Jane Smith</strong><br>Head of Design</p>
	   </div>

		</div>
		
		<h2>Our Philosophy</h2>
		<p>At XYZ Furniture, we believe that great design should be accessible to everyone. That's why we focus on creating timeless pieces that elevate any space, while also being mindful of our environmental impact. We're committed to using sustainable materials and ethical manufacturing practices.</p>
		

		<section class="section__container testimonial__container" id="testimonial">
			<h2 class="section__header">Testimonials</h2>
			<!-- Slider main container -->
			<div class="swiper">
			  <!-- Additional required wrapper -->
			  <div class="swiper-wrapper">
				<!-- Slides -->
				<div class="swiper-slide">
				  <div class="testimonial__card">
					<p>
					  Working with them was an absolute pleasure! Their modern design
					  expertise completely transformed my home into a contemporary
					  haven. I now have a space that not only looks stunning but also
					  feels incredibly comfortable. I couldn't be happier with the
					  results
					</p>
					<img src="{% static 'img/profile-pic-1.jpg' %}" alt="testimonial" />
					<h4>Sam William</h4>
					<h5>CEO, Co-Founder</h5>
				  </div>
				</div>
				<div class="swiper-slide">
				  <div class="testimonial__card">
					<p>
					  I hired them to revamp our office space, and the results
					  exceeded my expectations. Their innovative design concepts
					  breathed new life into our workplace, making it both functional
					  and stylish. The team's attention to detail and commitment to
					  quality are truly commendable.
					</p>
					<img src="{% static 'img/profile-pic-2.jpg' %}" alt="testimonial" />
					<h4>Michelle Anna</h4>
					<h5>Office Renovator</h5>
				  </div>
				</div>
				<div class="swiper-slide">
				  <div class="testimonial__card">
					<p>
					  I had a vision of a minimalist-inspired home, and they brought
					  it to life flawlessly. Their designers understood my aesthetic
					  and incorporated sleek, clean lines, and a neutral color palette
					  to create a serene oasis. I'm in love with my modern,
					  clutter-free space!
					</p>
					<img src="{% static 'img/profile-pic-3.jpg' %}" alt="testimonial" />
					<h4>John D'souza</h4>
					<h5>Banker</h5>
				  </div>
				</div>
				<div class="swiper-slide">
				  <div class="testimonial__card">
					<p>
					  What sets them apart is their professionalism and efficiency.
					  They made the entire design process hassle-free, from the
					  initial consultation to the final installation. Their team
					  handled everything, leaving me with a beautifully designed
					  modern interior
					</p>
					<img src="{% static 'img/profile-pic-4.jpg' %}" alt="testimonial" />
					<h4>David Laid</h4>
					<h5>Businessman</h5>
				  </div>
				</div>
			  </div>
			  <!-- If we need pagination -->
			  <div class="swiper-pagination"></div>
			</div>
		  </section>
	  
	</div>
</main>


{% endblock %}