{% extends 'base.html' %}
{% load static %}
{% block title %}Vector Woodcrafts and Interiors - Blog{% endblock %}
{% block content %}

<main>
<section class="section__container blog_container" id="blog">
    <h2 class="section__header">Our Blog</h2>
    <div class="blog__grid">
        {% for blog in blog_posts %}
      <div class="blog__card">
        <img src="{{blog.image.url}}" alt="blog" />
        <h4 style="text-align: start;">{{blog.title}}</h4>
        <p style="text-align: start;">{{blog.published_date}}</p>
        <p style="text-align: start;">
            {{blog.body_p2|truncatechars:150}}
        </p>
        <a style="text-decoration: none;" href="{% url 'blog_details' blog.bid %}"><button class="btn">Read more</button></a>
      </div>
      {% endfor %}
    </div>   
  </section>
</main>
{% endblock %}