{% extends 'base.html' %}
{% load static %}
{% block title %}Cart{% endblock %}
{% block content %}

<style>
    /* Your existing styles */
    .cart-page-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 20px;
    }

    .cart-products {
        flex-grow: 1;
        margin-right: 20px;
        margin-top: 30px;
    }

    .cart-summary {
        margin-top: 20px;
        width: 250px;
        background-color: rgb(216, 216, 216);
        padding: 20px;
        border-radius: 3px;
    }

    .cart-summary p {
        text-align: start;
    }

    .cart-table {
        width: 100%;
        border-collapse: collapse;
    }

    .cart-table th,
    .cart-table td {
        padding: 10px;
    }

    .cart-table th {
        text-align: left;
    }

    .cart-summary .summary-details {
        margin-bottom: 20px;
    }

    .cart-summary .checkout-btn {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
    }

    .cart-summary .checkout-btn:hover {
        background-color: #45a049;
    }

    .cart-item img {
        width: 100px;
        height: auto;
    }

    .product-name {
        font-weight: bold;
    }

    .product-name a {
        text-decoration: none;
    }

    .product-price {
        color: #007bff;
    }

    .quantity-input {
        width: 50px;
        text-align: center;
    }

    .action-icon {
        color: #007bff;
        
    }
    .actions button{
        background: none;
        border: none;
        font-size: 18px;
        cursor: pointer;
    }

    /* Responsive styles */
    @media only screen and (max-width: 768px) {
        .cart-page-container {
            flex-direction: column;
            align-items: center;
            margin: 10px;
        }

        .cart-summary {
            margin-top: 10px;
            width: 100%;
        }

        .cart-products {
            margin-right: 0;
        }

        .cart-table {
            font-size: 14px;
        }

        .quantity-input {
            width: 30px;
        }
    }
</style>

<main id="cart-list">
 <div class="cart-page-container">
    <div class="cart-products">
        <h2>You have {{totalcartitems}} item(s) in your Cart</h2>
        {% if totalcartitems %}
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <!-- <th>Finish</th>
                    <th>Dimension</th>
                    <th>Woodtype</th> -->
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for product_id, item in cart_data.items %} 

            <tbody>
                
                <td>
                    <div class="cart-item">
                        <img src="{{item.image}}" alt="Product Image">
                    </div>
                </td>
                <td>
                    <div class="product-name"><a href="{% url 'product_details' item.pid %}">{{item.title}}</a> </div>
                </td>
                <td>
                    <div class="product-price">Ksh {{item.price}}</div>   
                </td>
                <td>
                    <!-- <span style="margin: 10px;">{{item.color}} </span>
                </td>
                <td>
                    <span style="margin: 10px;">{{item.dimension}} </span> 
                </td>
                <td>
                    <span style="margin: 10px;">{{item.woodtype}} </span> 
                </td>
                <td> -->
                <span ><input style="margin: 10px; width: 50px; height: 30px;" type="number" class="product-qty-{{product_id}}" value="{{item.qty}}" min="1"> </span>
                </td>
                <td>
                    <span style="margin: 10px;"><span style="color: #007bff;">Ksh {% widthratio item.price 1 item.qty %}</span> </span>
                </td>
                <td>
                <div class="actions">
                   <button class="update-product" id="update-product" data-product="{{product_id}}"><i class="action-icon ri-refresh-line" title="Update"></i></button>
                   <button class="delete-product" id="delete-product" data-product="{{product_id}}" ><i class="action-icon ri-delete-bin-line" title="delete"></i></button> 
                </div>
                </td>
            </tbody>
            {% endfor %}
        </table>
        {% else %}
        <h2>Your cart is empty</h2>
        {% endif %}
        
    </div>
    <div class="cart-summary">
        <h2>Cart Summary</h2>
        <div class="summary-details">
            <p><strong>Sub Total:</strong> Ksh {{cart_total_amount|floatformat:2}}</p>
            <p><strong>Vat 16%:</strong> Ksh {{vat|floatformat:2}}</p>
            <hr>
            <br>
            <p><strong>Total:</strong> Ksh {{total|floatformat:2}}</p>
            <hr>
        </div>
        {% if totalcartitems %}
        {% if user.is_authenticated %}
    <a style="text-decoration: none;" href="{% url 'checkout' %}"><button class="checkout-btn">Proceed to Checkout</button></a>
{% else %}
    <a style="text-decoration: none;" href="{% url 'sign-in' %}"><button class="checkout-btn">Login to Proceed</button></a>
{% endif %}
        {% endif %}

    </div>
</div>   
</main>


  {% endblock %}