{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout{% endblock %}
{% block content %}
<style>
    /* Your existing styles */
    .checkout-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 20px;
        margin-top: 40px;
    }

    .checkout-form {
        width: 60%;
        max-width: 500px;
        background-color: rgb(216, 216, 216);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-left: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        display: block;
        font-weight: bold;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: rgb(250, 250, 250);
        box-sizing: border-box;
    }

    .form-group textarea {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
        background-color: rgb(245, 244, 244);
        box-sizing: border-box;
        resize: vertical;
    }

    .btn1 {
        padding: 10px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        padding: auto;
    }

    .form-group button:hover {
        background-color: #45a049;
    }

    .cart-items {
        width: 400px;
        height: auto;
        background-color: rgb(216, 216, 216);
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .cart-item {
        margin-bottom: 10px;
    }

    .cart-item img {
        width: 80px;
        height: auto;
        margin-right: 10px;
    }

    .cart-item-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* Responsive styles */
    @media only screen and (max-width: 768px) {
        .checkout-container {
            flex-direction: column;
            align-items: center;
        }

        .cart-items {
            width: 100%;
        }

        .checkout-form {
            width: 100%;
            margin-top: 20px;
            margin-right: 20px;
        }
    }
</style>
<main>
 <div class="checkout-container">
    <div class="cart-items">
        <h2>Your Cart Items</h2>
        <div class="cart-item">
            {% for product_id, item in cart_data.items %}
            <img src="{{item.image}}" alt="Product Image">
            <div class="cart-item-details">
                <div>Name: {{item.title}}</div>
                <br>
                <div>Qty: {{item.qty}}</div>
                <br>
                <div>Sub-total: Ksh {% widthratio item.price 1 item.qty %}</div>
            </div>
            <hr>
            <br>
            {% endfor %}
            <div><strong>Total (Tax Inc): <span style="color: red;">Ksh {{total}}</span> </strong></div>
        </div>
        <a href="{% url 'order-success' %}">
            <div class="form-group">
                <button class="btn1">Place Order</button>
            </div>    
    </a>
        
     </div>
     
  <!-- <form class="checkout-form" method="post">
    {% csrf_token %}
        <h2>Checkout</h2>  
        <div class="form-group">
            <label for="email">Enter email:</label>
            <input type="email" id="email" name="email" >
        </div>
        <a href="{% url 'order-success' %}">
                <div class="form-group">
                    <button>Place Order</button>
                </div>    
        </a>
        
    </form> -->
</div>   
</main>


{% endblock %}