{% extends 'base.html' %}
{% load static %}
{% block content %}
  <style>
    .map{
        position: relative;
        overflow: hidden;
    }
    .map iframe{
        top: 0;
        left: 0;
        width: 100%;
    }

  </style>

<main >

    <div class="contact_container">
       
        <div class="contact_content">

            <div class="main-container">
                <h3 style="text-align: center;"> Get in Touch</h3>
                <form id="contact-form">
                
                    <label>Name</label>
                    <input class="input-field" type="text" name="name">
      
                    <label>Subject</label>
                    <input class="input-field" type="text" name="subject">
      
                    <label>Email</label>
                    <input class="input-field" type="text" name="email">
      
                    <label>Message</label>
                    <textarea class="input-field" type="text" name="message"></textarea> 
      
                    <input id="submit-btn" type="submit" value="Send" >
                </form>
        
      </div>
      <div style="display: block; justify-content: flex-start; margin-left:10%  ; margin-top: 100px;"  class="contact_text">
       
        
        
        <div  style="display: flex; " class="contact-content">
            <i style="font-size: 60px;color: #007bff; margin-right: 20px;" class="ri-mail-line"></i>
            <div>
                 <h3 style="color: #007bff;">Email:</h3>
            <a style="text-decoration: none; color: black;" href="mailto:sales@vectorwoodcrafts.co.ke">sales@vectorwoodcrafts.co.ke</a>
            </div>
           
        </div>
        <br>

        
        <div style="display: flex;" class="contact-content">
            <i style="font-size: 60px;color: #007bff; margin-right: 20px;" class="ri-map-pin-line"></i>
            <div>
             <h3 style="color: #007bff;">Address:</h3>
                Butere RD, No 16 
            <br>Industrial Area, Nairobi, 00610 Nrb.   
            </div>
            
        </div>
        <br>

          
        <div style="display: flex;" class="contact-content">
            <i style="font-size: 60px; color: #007bff; margin-right: 20px;" class="ri-phone-line"></i>
            <div>
            <h3 style="color: #007bff;">Call Us:</h3>
          <span>+254-712-555-577</span>  
            </div>
            
            
            
        </div>  
        </div>
   
        
        </div>

       
 
        <div style="width: 100%;" class="map">
                                    
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7842700237743!2d36.836051299999994!3d-1.3044916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f110f8174bf61%3A0x9df657d89b04af84!2s16%20Butere%20Rd%2C%20Nairobi!5e0!3m2!1sen!2ske!4v1709817370596!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                              

           </div>
   
             
    

                    
</main>

{% endblock %}
