{% extends 'base.html' %}
{% load static %}
{% block title %}FAQS{% endblock %}
{% block content %}

<main>

  <style>
    .faq-container {
      max-width: 1000px;
      margin: 20px auto;
      padding: 0 20px;
    }
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }
    .faq {
    
    }
    .faq h2 {
      text-align: start;
      cursor: pointer;
      font-size: 20px;
    }
    .faq .answer {
      margin-bottom: 10px;
      display: none;
      text-align: start;
      color: #000;
    }
    .plus-minus-toggle {
      margin-bottom: 5px;
      cursor: pointer;
      font-weight: bold;
      user-select: none;
    }
  </style>
</head>
<body>
  <div class="faq-container">
    <h1>Vector Woodcrafts FAQs</h1>

  <div class="faq">
    <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer1')">How can I place an order <span id="plus1"><i class="ri-arrow-down-s-line"></i></span></h2>
    <p class="answer" id="answer1">Once you've chosen your furniture, add them to your shopping cart. Each item has its price listed. The prices of items are not inclusive of VAT. Once you checkout your selected products, and have completed the payment, your order will be confirmed .A payment receipt and order confirmation will be shared to your email. Navigation through our site and order placement has been outlined in the video to your right.</p>
  </div>

    <div class="faq">
    <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer2')">What are the payment options available <span id="plus2"><i class="ri-arrow-down-s-line"></i></span></h2>
    <p class="answer" id="answer2">We accept payments via bank transfer, credit/debit card, and mobile money platforms such as M-Pesa. Our website provides a secure checkout process for your convenience.</p>
    </div>

 <div class="faq">
  <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer7')">Do you offer customization options for furniture pieces <span id="plus7"><i class="ri-arrow-down-s-line"></i></span></h2>
  <p class="answer" id="answer7">Yes, we specialize in custom-made furniture. You can choose from a variety of wood types, finishes, dimensions, and designs to create a piece that perfectly suits your needs and preferences.</p>
</div>

<div class="faq">
  <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer9')">Can you create furniture pieces based on specific designs or inspirations <span id="plus9"><i class="ri-arrow-down-s-line"></i></span></h2>
  <p class="answer" id="answer9">Absolutely! We love bringing our customers' unique visions to life. Whether you have a specific design in mind or need assistance in conceptualizing your ideas, our skilled craftsmen are here to turn your vision into reality.</p>
</div>

 <div class="faq">
  <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer8')">How long does it take to receive a custom-made furniture order <span id="plus8"><i class="ri-arrow-down-s-line"></i></span></h2>
  <p class="answer" id="answer8">The production time for custom orders varies depending on the complexity of the design and our current workload. On average, it takes between 2 to 8 weeks from the time of order placement to delivery.</p>
</div>

<div class="faq">
  <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer12')">Can I visit your workshop to see the craftsmanship firsthand <span id="plus12"><i class="ri-arrow-down-s-line"></i></span></h2>
  <p class="answer" id="answer12">Unfortunately, we can't accept returns as items are specially chosen and delivered as requested.</p>
</div>

 <div class="faq">
  <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer5')">What types of wood do you use for your furniture<span id="plus5"><i class="ri-arrow-down-s-line"></i></span></h2>
  <p class="answer" id="answer5">We primarily use locally sourced  and imported hardwoods such as mahogany and mvule for our furniture pieces. These woods are known for their durability and natural beauty.We also use use Mango which represents our environmental commitment while creating beautiful furniture pieces.</p>
</div>

 <div class="faq">
  <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer6')">Are your materials sustainably sourced <span id="plus6"><i class="ri-arrow-down-s-line"></i></span></h2>
  <p class="answer" id="answer6">We are committed to sustainability and ethical practices. Our wood is sourced from responsibly managed forests and certified suppliers to ensure minimal environmental impact.</p>
</div>

<div class="faq">
  <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer10')">What maintenance is required for solid wood furniture <span id="plus10"><i class="ri-arrow-down-s-line"></i></span></h2>
  <p class="answer" id="answer10">Solid wood furniture requires minimal maintenance to preserve its beauty and longevity. Regular dusting and occasional polishing with a high-quality wood conditioner are recommended. Avoid placing furniture in direct sunlight or near heat sources to prevent warping or discoloration.</p>
</div>

<div class="faq">
  <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer11')">Do you offer warranty or guarantees on your products <span id="plus11"><i class="ri-arrow-down-s-line"></i></span></h2>
  <p class="answer" id="answer11">Yes, we stand behind the quality of our products. We offer a one-year warranty against manufacturing defects. Please refer to our warranty policy for more details.</p>
</div>

<div class="faq">
  <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer13')">What should I do if my furniture arrives damaged <span id="plus13"><i class="ri-arrow-down-s-line"></i></span></h2>
  <p class="answer" id="answer13">Notify us immediately. Our team will assess and repair the issue promptly. Refunds or replacements are provided if necessary.</p>
</div>

  <div class="faq">
    <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer3')">Do you deliver outside Nairobi <span id="plus3"><i class="ri-arrow-down-s-line"></i></span></h2>
    <p class="answer" id="answer3">Yes, we offer nationwide delivery across Kenya. Additional shipping charges may apply for deliveries outside Nairobi. Please contact us for more information.</p>
  </div>
 
  <div class="faq">
    <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer4')">Is there a catalogue available <span id="plus4"><i class="ri-arrow-down-s-line"></i></span></h2>
    <p class="answer" id="answer4">You can download our catalogue from the DOWNLOADS section of our website.</p>
  </div>

<div class="faq">
  <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer14')">How can I address a complaint with my order <span id="plus14"><i class="ri-arrow-down-s-line"></i></span></h2>
  <p class="answer" id="answer14">Please contact us via email or phone with any concerns. We're dedicated to resolving issues promptly.</p>
</div>

</div>

  <script>
    function toggleAnswer(id) {
      var answer = document.getElementById(id);
      var plus = document.getElementById('plus' + id.substring(7));
      if (answer.style.display === "none") {
        answer.style.display = "block";
        plus.textContent = "-";
      } else {
        answer.style.display = "none";
        plus.textContent = "+";
      }
    }
  </script>
</body>


    
</main>


{% endblock %}