{% extends 'base.html' %}
{% load static %}
{% block title %}FAQS{% endblock %}
{% block content %}

<main>

  <style>
    .faq-container {
      max-width: 1000px;
      margin: 20px auto;
      padding: 0 20px;
    }
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }
    .faq {
      margin-bottom: 30px;
    }
    .faq h2 {
      text-align: start;
      margin-bottom: 10px;
      cursor: pointer;
      font-size: 20px;
    }
    .faq .answer {
      margin-bottom: 10px;
      display: none;
      text-align: start;
      color: #000;
    }
    .plus-minus-toggle {
      cursor: pointer;
      font-weight: bold;
      user-select: none;
    }
  </style>
</head>
<body>
  <div class="faq-container">
    <h1>Vector Woodcrafts FAQs</h1>

  <div class="faq">
    <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer1')">How can I place an order <span id="plus1"><i class="ri-arrow-down-s-line"></i></span></h2>
    <p class="answer" id="answer1">Once you've chosen your furniture, add them to your shopping cart. Each item has its price listed. The prices of items are not inclusive of VAT. Once you checkout your selected products, and have completed the payment, your order will be sent to us.</p>
  </div>

    <div class="faq">
    <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer2')">What are the payment options available <span id="plus2"><i class="ri-arrow-down-s-line"></i></span></h2>
    <p class="answer" id="answer2">We accept cash, M-Pesa, bank transfer, and cheques. If paying by cheque, delivery will occur after clearance.</p>
    </div>

  <div class="faq">
    <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer3')">Where do you deliver <span id="plus3"><i class="ri-arrow-down-s-line"></i></span></h2>
    <p class="answer" id="answer3">We offer free delivery service within Nairobi.</p>
  </div>
 
  <div class="faq">
    <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer4')">Is there a catalogue available <span id="plus4"><i class="ri-arrow-down-s-line"></i></span></h2>
    <p class="answer" id="answer4">You can download our catalogue from the DOWNLOADS section of our website.</p>
  </div>

 <div class="faq">
  <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer5')">How can I check the availability of a specific item<span id="plus5"><i class="ri-arrow-down-s-line"></i></span></h2>
  <p class="answer" id="answer5">Contact us via phone or email, and we'll gladly update you on its availability. Please note, availability isn't guaranteed until payment.</p>
</div>

 <div class="faq">
  <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer6')">What happens during delivery <span id="plus6"><i class="ri-arrow-down-s-line"></i></span></h2>
  <p class="answer" id="answer6">You'll be contacted in advance to arrange delivery. Our team will position the furniture as instructed, remove packaging, and ensure clear access points. Someone must be present to receive and sign for the furniture.</p>
</div>

 <div class="faq">
  <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer7')">What if I'm not available during delivery <span id="plus7"><i class="ri-arrow-down-s-line"></i></span></h2>
  <p class="answer" id="answer7">As deliveries require a signature, if you're unavailable, the furniture will be returned to the distribution center. A further delivery date will be arranged with an additional charge.</p>
</div>
 <div class="faq">
  <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer8')">Can I choose a specific delivery day or time <span id="plus8"><i class="ri-arrow-down-s-line"></i></span></h2>
  <p class="answer" id="answer8">Due to limited storage, we aim to deliver swiftly and appreciate your flexibility.</p>
</div>
<div class="faq">
  <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer9')">Do you offer furniture disposal services<span id="plus9"><i class="ri-arrow-down-s-line"></i></span></h2>
  <p class="answer" id="answer9">Unfortunately, we don't provide this service. Prompt delivery helps us offer the best value.</p>
</div>
<div class="faq">
  <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer10')">What if my furniture doesn't fit <span id="plus10"><i class="ri-arrow-down-s-line"></i></span></h2>
  <p class="answer" id="answer10">Please ensure the furniture fits your space before ordering. For office spaces, our design team provides free measurements and advice.</p>
</div>

<div class="faq">
  <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer11')">Do you deliver internationally <span id="plus11"><i class="ri-arrow-down-s-line"></i></span></h2>
  <p class="answer" id="answer11">No, we don't offer international delivery. Customers can arrange their own shipping.</p>
</div>

<div class="faq">
  <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer12')">What if I'm unsatisfied with my delivered furniture <span id="plus12"><i class="ri-arrow-down-s-line"></i></span></h2>
  <p class="answer" id="answer12">Unfortunately, we can't accept returns as items are specially chosen and delivered as requested.</p>
</div>

<div class="faq">
  <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer13')">What should I do if my furniture arrives damaged <span id="plus13"><i class="ri-arrow-down-s-line"></i></span></h2>
  <p class="answer" id="answer13">Notify us immediately. Our team will assess and repair the issue promptly. Refunds or replacements are provided if necessary.</p>
</div>

<div class="faq">
  <h2 class="plus-minus-toggle" onclick="toggleAnswer('answer14')">How can I address a complaint with my order <span id="plus14"><i class="ri-arrow-down-s-line"></i></span></h2>
  <p class="answer" id="answer14">Please contact us via email or phone with any concerns. We're dedicated to resolving issues promptly.</p>
</div>

</div>

  <script>
    function toggleAnswer(id) {
      var answer = document.getElementById(id);
      var plus = document.getElementById('plus' + id.substring(7));
      if (answer.style.display === "none") {
        answer.style.display = "block";
        plus.textContent = "-";
      } else {
        answer.style.display = "none";
        plus.textContent = "+";
      }
    }
  </script>
</body>


    
</main>


{% endblock %}