{% extends 'base.html' %}
{% load static %}
{% block title %}Vector Woodcrafts and Interiors - Crafted with love and timber{% endblock %}
{% block content %}
<head>
<meta name="google-site-verification" content="177VGYYe0odkossPrpQ9tXvNl5MNsjx2Uvu5meDC5nU" />
</head>
<style>
  .image-grid {
  margin: 20px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image {
  width: calc(25% - 20px); /* Adjust as needed */
  margin-bottom: 20px;
  
}
.image a{
  text-decoration: none;
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.image img {
  width: auto;
  height: 200px;
  border-radius: 10px;
}

.image-title {
  text-align: center;
  margin-top: 10px;
}

/* Media query for small screens */
@media only screen and (max-width: 768px) {
  .image {
    width: calc(50% - 20px); /* Two images per row on small screens */
  }
  .image img{
    height: 140px;
    width: 100%;
  }
}
</style>
    <main >
        <img src="{% static 'img/3D-Furniture-Design-Services.jpg' %}" alt="" width="100%">


        <div class="image-grid">
          {% for c in categories %}
          <div class="image">
            <a href="{% url 'category' c.cid %}">
              <img src="{{c.image.url}}" alt="Image 1">
              <div class="image-title">{{c.title}}</div>
            </a>
          </div>
          {% endfor %}
        </div>
        <br>

      <div class="choose-section">
            <div class="choose-description"> 
              <h2 style="text-align: center; font-size: 30px; margin-top: 30px;">Why Choose Us</h2>
              <div class="choose">
              <div class="choose-items">
            <h4 style="font-family: 'Titillium Web', sans-serif; font-weight: bold; text-align: center;"><span><i class="ri-shopping-bag-3-line"></i></span> Order Custom Made Items </h4>
            <div style="display: flex;justify-content: space-between; ">
              <!--<img style="margin-right: 15px;" src="{% static 'img/1.png' %}" height="80" alt="">-->

              <p style="text-align: start;margin-top: 10px;">
                Vector Woodcrafts specializes in crafting custom-made furniture, offering a wide range of wood types, finishes, dimensions, and designs to suit individual preferences. Collaborating closely with clients, their skilled craftsmen bring unique visions to life, ensuring each piece reflects personal style and enhances any space with exceptional quality and craftsmanship.
              </p>
            </div>
            
             <h4 style="font-family: 'Titillium Web', sans-serif;font-weight: bold; text-align: center;"><span><i class="ri-truck-line"></i></span> Fast & Free Shipping</h4>
            <p  style="text-align: start; margin-top: 10px;">
              We offer nationwide delivery across Kenya. Additional shipping charges may apply for deliveries outside Nairobi. Please contact us for more information.
            </p>
            </div>
            <div class="choose-items">
	    <h4 style="font-family: 'Titillium Web', sans-serif; font-weight: bold; text-align: center;">
            <span><i class="ri-shopping-cart-line"></i></span> Easy To Shop </h4>
            <p style="text-align: start; margin-top: 10px;">
              Our ecommerce website ensures a seamless experience, featuring easy navigation for product selection and order placement. Additionally, customers can conveniently track the progress of their orders, enhancing transparency and satisfaction throughout the purchasing process.
            </p>

            <h4 style="font-family: 'Titillium Web', sans-serif;font-weight: bold; text-align: center;"><span><i class="ri-customer-service-2-line"></i></span> 24/7 Support</h4>
            <p style="text-align: start; margin-top: 10px;">
              Experience peace of mind knowing that our dedicated team is
              available round the clock
            </p>
            
          

            </div>  
              </div>
            



         </div>
         <div class="choose-image">
         <img src="{% static 'img/craft-2.png' %}" alt="Company Image">
         </div> 
       </div>
    
       

       <section class="section__container blog_container" id="blog">
        <h2 class="section__header">Our Blog</h2>
        <div class="blog__grid">
            {% for blog in blog_posts %}
          <div class="blog__card">
            <img src="{{blog.image.url}}" alt="blog" />
            <h4 style="text-align: start;">{{blog.title}}</h4>
            <p style="text-align: start;">{{blog.published_date}}</p>
            <p style="text-align: start;">
                {{blog.introduction|truncatechars:150}}
            </p>
            <a style="text-decoration: none;" href="{% url 'blog_details' blog.bid %}"><button class="btn">Read more</button></a>
          </div>
          {% endfor %}
        </div>   
      </section>
  </main>
   {% endblock %}