{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- main content -->
    <div class="main-content">
        <div class="wrap-banner">
            <!-- slide show -->
            <div class="section banner">
                <div class="tiva-slideshow-wrapper">
                    <div id="tiva-slideshow" class="nivoSlider">
                        <a href="#">
                            <img class="img-responsive" src="{% static 'img/home/home1-banner1.jpg' %}" title="#caption1" alt="Slideshow image">
                        </a>
                        <a href="#">
                            <img class="img-responsive" src="{% static 'img/home/home1-banner2.jpg' %}" title="#caption2" alt="Slideshow image">
                        </a>
                        <a href="#">
                            <img class="img-responsive" src="{% static '' %}img/home/home1-banner3.jpg" title="#caption3" alt="Slideshow image">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- main -->
        <div id="wrapper-site">
            <div id="content-wrapper" class="full-width">
                <div id="main">
                    <section class="page-home">
                        <div class="container">
                            <!-- delivery form -->
                            <div class="section policy-home col-lg-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="block">
                                            <div class="block-content">
                                                <div class="policy-item">
                                                    <div class="policy-content iconpolicy1">
                                                        <img src="{% static 'img/home/home1-policy.png' %}" alt="img">
                                                        <div class="policy-name mb-5">FREE DELIVERY</div>
                                                        <div class="policy-des"> Fast & Free Shipping service
                                                            without delay</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tiva-html col-lg-4 col-md-4">
                                        <div class="block">
                                            <div class="block-content">
                                                <div class="policy-item">
                                                    <div class="policy-content iconpolicy2">
                                                        <img src="{% static 'img/home/home1-policy2.png' %}" alt="img">
                                                        <div class="policy-name mb-5">FREE INSTALLATION</div>
                                                        <div class="policy-des">Get free installation services</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tiva-html col-lg-4 col-md-4">
                                        <div class="block">
                                            <div class="block-content">
                                                <div class="policy-item">
                                                    <div class="policy-content iconpolicy3">
                                                        <img src="{% static 'img/home/home1-policy3.png' %}" alt="img">
                                                        <div class="policy-name mb-5">MONEY BACK GUARANTEED</div>
                                                        <div class="policy-des">We believe in the perfect match, and if it doesn't quite fit, we
                                                            make returning items a breeze.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                                        <!-- product living room -->
                                        <div style="background: white; height: fit-content;" class="section living-room">
                                            <div class="container">
                                                <div class="tiva-row-wrap row">
                                                    <div class="groupcategoriestab-vertical col-md-12 col-xs-12">
                                                        <div class="grouptab row">
                                                            <div class="categoriestab-right col-lg-3 align-items-start d-flex flex-column col-md-3 flex-3">
                                                                <div class="block-title-content">
                                                                    <h2 class="title-block">
                                                                        Categories
                                                                    </h2>
                                                                </div>
                                                                <!-- <div class="btn dropdown-toggle toggle-cate-child-vertical hidden-md-up mr-auto">Select category</div> -->
                                                                <div class="cate-child-vertical">
                                                                    <ul class="d-flex align-items-start flex-column">
                                                                        {% for c in categories %}
                                                                        <li>
                                                                            <a href="{% url 'category' c.cid %}">{{ c.title }}</a>
                                                                        </li>
                                                                            {% endfor %}                                      
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="categoriestab-left product-tab col-md-9 flex-9">
                                                                <div class="title-tab-content d-flex justify-content-start">
                                                                    <h2 class="title-block">
                                                                        Featured Products
                                                                    </h2>
                                                                </div>
                                                                <div class="tab-content">
                                                                    <div id="new" class="tab-pane fade in active show">
                                                                        <div class="category-product-index owl-carousel owl-theme owl-loaded owl-drag">
                                                                            {% for p in products %}

                                                                            <div class="item text-center">
                                                                                <div class="product-miniature first-item js-product-miniature item-one">
                                                                                    <div class="thumbnail-container">
                                                                                        <a href="{% url 'product_details' p.pid %}">
                                                                                            <img style="height: 250px;  " class="img-fluid" src="{{p.image.url}}" alt="img">
                                                                                        </a>
                                                                                        <div class="product-flags discount">-{{p.get_percentage|floatformat:0}}%</div>
                                                                                    </div>
                                                                                    <div class="product-description">
                                                                                        <div class="product-groups">
                                                                                            <div class="product-title">
                                                                                                <a href="{% url 'product_details' p.pid %}">{{ p.title }}</a>
                                                                                            </div>
                                                                                            <div class="rating">
                                                                                                <div class="star-content">
                                                                                                    <div class="star"></div>
                                                                                                    <div class="star"></div>
                                                                                                    <div class="star"></div>
                                                                                                    <div class="star"></div>
                                                                                                    <div class="star"></div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="product-group-price">
                                                                                                <div class="product-price-and-shipping">
                                                                                                    <span class="price">Ksh {{p.price}} </span>
                                                                                                    <del class="regular-price">Ksh {{p.old_price}}  </del>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="product-buttons d-flex justify-content-center">
                                                                                            <form action="#" method="post" class="formAddToCart">
                                                                                                <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                                                </a>
                                                                                            </form>
                                                                                            <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                                                                            </a>
                                                                                            <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                                            </a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                   
                             
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                        <!-- recent posts -->
                        <div class="container">
                            <div class="section recent-post">
                                <div class="title-block">RECENT POST</div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="item-post">
                                            <div class="thumbnail-img">
                                                <a href="blog-detail.html">
                                                    <img src="{% static 'img/home/home1-post1.jpg' %}" alt="img">
                                                </a>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-info">
                                                    <span class="comment">
                                                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                                                        <span>0 Comments</span>
                                                    </span>
                                                    <span class="datetime">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        <span>Feb 10, 2024</span>
                                                    </span>
                                                </div>
                                                <div class="post-title">
                                                    <a href="blog-detail.html">DesignSavvySoul </a>
                                                </div>
                                                <div class="post-desc">
                                                    Mastering Modern Minimalism                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="item-post">
                                            <div class="thumbnail-img">
                                                <a href="blog-detail.html">
                                                    <img src="{% static 'img/home/home1-post2.jpg' %}" alt="img">
                                                </a>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-info">
                                                    <span class="comment">
                                                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                                                        <span>0 Comments</span>
                                                    </span>
                                                    <span class="datetime">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        <span>Jan 18, 2024</span>
                                                    </span>
                                                </div>
                                                <div class="post-title">
                                                    <a href="blog-detail.html">ChicNestInteriors </a>
                                                </div>
                                                <div class="post-desc">
                                                    The Fusion of Tech and Design                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="item-post">
                                            <div class="thumbnail-img">
                                                <a href="blog-detail.html">
                                                    <img src="{% static 'img/home/home1-post3.jpg' %}" alt="img">
                                                </a>
                                            </div>
                                            <div class="post-content">
                                                <div class="post-info">
                                                    <span class="comment">
                                                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                                                        <span>0 Comments</span>
                                                    </span>
                                                    <span class="datetime">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        <span>Jan 12, 2024</span>
                                                    </span>
                                                </div>
                                                <div class="post-title">
                                                    <a href="blog-detail.html">HomeStyleHarmony </a>
                                                </div>
                                                <div class="post-desc">
                                                    Eco-Friendly Modern Interiors                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- partner -->
                           
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}