{% extends 'base.html' %}
{% load static %}
{% block title %}Shop/{{product.title}}{% endblock %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
    }

    .product-image {
        flex: 1;
        margin-bottom: 20px;
    }
    

    .product-image img {
        width: 100%;
        max-width: 400px;
        height: 400px;
        object-fit: contain;
    }

    .small-images {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
    }

    .small-image {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        cursor: pointer;
    }

    .small-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .product-details {
        flex: 1;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-left: 20px;
    }

    .product-name {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .product-price {
        font-size: 20px;
        font-weight: bold;
        color: red;
        margin-bottom: 10px;
    }

    .add-to-cart {
        display: inline-block;
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        margin-right: 10px;
    }

    .add-to-wishlist {
        display: inline-block;
        background-color: #28a745;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }

    .product-description {
        margin-top: 20px;
        
    }

    .reviews {
        margin-top: 20px;
    }

    .related-products {
        margin-top: 40px;
        text-align: center;
    }

    .related-product {
        display: inline-block;
        width: 200px;
        margin-right: 20px;
        text-align: left;
    }

    .related-product img {
        width: 100%;
        height: auto;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .related-product-name {
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
    }

    .related-product-price {
        font-size: 16px;
        color: #007bff;
        margin-top: 5px;
    }
    .c-btn{
    padding: 5px ;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    background: transparent;
    border: 0;
    border-radius: 10px;
    outline: none;
    }
    .review-hide-form{
        height: 50px;
        width: 280px;
        margin: auto;
    }
    #finish, #woodtype,#dimension, option{
        border-radius:3px;
        background-color: #ddd;
    }
</style>
<main>
 <div class="container">
    <div class="product-image">
        <img id="main-image" src="{{product.image.url}}" alt="Product Image">
        <div class="small-images">
            {% for p in p_image %}
            <div class="small-image"><img src="{{p.images.url}}" alt="Small Image"></div>
            {% endfor %}
        </div>
    </div>
    <div class="product-details">
        <div class="product-name">{{product.title}}</div>
        <div class="">
            <span> <strong>Description:</strong></span>
            <span>{{product.description|truncatechars:100}}</span>
        </div>
        <br>
        <div style="display: none;" class="product-price"><span>Ksh  </span><span id="current-price-{{product.id}}">{{product.price}} </span>  </div>
        <br>
        <div style="display: flex; justify-content: space-between; margin-right: 100px;">
            <div>
                <span>Dimension:</span>
                <select class="product-dimension-{{product.id}}" name="dimension" id="dimension">
                    <option value="{{product.dim1}}">{{product.dim1}}</option>
                    <option value="{{product.dim2}}">{{product.dim2}}</option>
                </select>
            </div>
            <div>
                <span>Finish:</span> 
                <select class="product-color-{{product.id}}" name="color" id="finish">
                    <option value="{{product.color1}}">{{product.color1}}</option>
                    <option value="{{product.color2}}">{{product.color2}}</option>
                    <option value="{{product.color3}}">{{product.color3}}</option>
                    <option value="{{product.color4}}">{{product.color4}}</option>
                </select>
            </div>
            <div>
                <span>Woodtype:</span> 
                <select class="product-woodtype-{{product.id}}" name="woodtype" id="woodtype">
                    <option value="{{product.woodtype1}}">{{product.woodtype1}}</option>
                    <option value="{{product.woodtype2}}">{{product.woodtype2}}</option>
                    <option value="{{product.woodtype3}}">{{product.woodtype3}}</option>
                    <option value="{{product.woodtype4}}">{{product.woodtype4}}</option>
                </select>
            </div>
        </div>
        <br>
        <div class="quantity">
            <span>QTY : </span>
            <input style="height: 25px; width: 50px;" type="number" name="qty" id="quantity_wanted" value="1" class="quantity-wanted-{{product.id}}">
        </div>
        <br>
        <input type="hidden" class="product-pid-{{product.id}}" value="{{product.pid}}">
        <input type="hidden" class="product-image-{{product.id}}" value="{{product.image.url}}" >
        <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" >
        <input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}" >
                                                                            
        <button id="add-to-cart-btn" class="add-to-cart add-to-cart-btn" data-index="{{product.id}}">Add to Cart</button>
        <button class="add-to-wishlist">Add to Wishlist</button>
        
                                                       
        </div>
    </div>
        <div style="margin-left: 30px; padding: 10px; border: 1px solid #ddd;" id="description" class="product-description" >
             <h2 style="text-align: start;">Description</h2>
            <p style="text-align: start;">{{product.description}}</p>
        </div>
       <!--
        <div style="margin-left: 30px; border: 1px solid #ddd; height: 400px; width: 400px;" class="reviews" >
            <button class="c-btn"> <h2>Reviews</h2></button> 
            <strong id="review-res" class="text-success"></strong>
            {% for r in reviews %}
            <div style="padding-left: 20px;">
                <span  id="reviews" class="spr-review-header-byline">
                    <strong> {{r.user.username}} </strong> -
                    <span>{{r.date|date:"D M, Y"}}</span>
                </span> 
                <br> 
                    {% for s in r.rating|ljust:r.rating %}
                    <i style="color: orange;" class="ri-star-fill text-warning"></i>                  
                    {% endfor %}
                    <br>
                <span > {{ r.review }}</span>
            </div>
            <br> 
            {% endfor %} 

            <div>
              {% if make_review == True %}
             {% if request.user.is_authenticated %}
             <form method="post"  action="{% url 'ajax-add-review' product.pid %}" class="review-hide-form" id="review-form">
               {% csrf_token %}
              <div class="spr-form-review-body">
                 <div class="spr-form-input">
                   {{review_form.review}}  
                 </div>
             </div> 
             <br>
              <div class="spr-form-review-rating">
                 {{review_form.rating}}  
             </div>
             <br>
             <div class="submit">
                 <input type="submit" name="addComment" id="submitComment" class="btn btn-default" value="Submit Review">
             </div>
             </form>
             {% endif %}
             {% endif %}                                                   
               
            </div>
            
        </div>
        -->
    
<section>
    <h2>Related Products</h2>
<div class="container" style="display: flex; justify-content: center;">
    {% for p in products %}
    <div class="product">
          <a href="{% url 'product_details' p.pid %}"><img src="{{p.image.url}}" alt="Product Image"></a>   
      <a style="text-decoration: none;" href="{% url 'product_details' p.pid %}"><h2>{{ p.title }}</h2></a>
      <p class="description">{{p.description|truncatechars:50}}</p>
      <div class="price-container">
        <p style="display: none;" class="previous-price">Ksh {{p.old_price}} </p>
        <p style="display: none;">Ksh</p><p style="display: none;" class="current-price current-price-{{p.id}}" id="current-price-{{p.id}}">{{p.price}} </p>
    </div>
      <button class="wishlist-btn"><i class="ri-heart-line"></i></button>

      <select style="display: none;" class="product-dimension-{{p.id}}" name="dimension" id="dimension">
        <option value="{{p.dim1}}">{{p.dim1}}</option>
        <option value="{{p.dim2}}">{{p.dim2}}</option>
    </select>

    <select style="display: none;" class="product-color-{{p.id}}" name="color" id="finish">
        <option value="{{p.color1}}">{{p.color1}}</option>
        <option value="{{p.color2}}">{{p.color2}}</option>
        <option value="{{p.color3}}">{{p.color3}}</option>
        <option value="{{p.color4}}">{{p.color4}}</option>
    </select>

    <select style="display: none;" class="product-woodtype-{{p.id}}" name="woodtype" id="woodtype">
        <option value="{{p.woodtype1}}">{{p.woodtype1}}</option>
        <option value="{{p.woodtype2}}">{{p.woodtype2}}</option>
        <option value="{{p.woodtype3}}">{{p.woodtype3}}</option>
        <option value="{{p.woodtype4}}">{{p.woodtype4}}</option>
    </select>

<input type="hidden" value="1" id="product-quantity" class="quantity-wanted-{{p.id}}">
<input type="hidden" class="product-pid-{{p.id}}" value="{{p.pid}}">
<input type="hidden" class="product-image-{{p.id}}" value="{{p.image.url}}" >
<input type="hidden" class="product-id-{{p.id}}" value="{{p.id}}" >
<input type="hidden" class="product-title-{{p.id}}" value="{{p.title}}" >
                                                                   
<button class="cart-btn add-to-cart-btn" data-index="{{p.id}}"><i class="ri-shopping-cart-2-fill"></i></button>

      <button class="view-btn"><i class="ri-eye-line"></i></button>
    </div>
    {% endfor %}
</section>
</div>
</div>   
<script>
    // Get all small images
    var smallImages = document.querySelectorAll('.small-image img');

    // Add click event listener to each small image
    smallImages.forEach(function(smallImage) {
        smallImage.addEventListener('click', function() {
            // Get the src of the clicked small image
            var newSrc = this.src;
            
            // Set the src of the main image to the clicked small image's src
            document.getElementById('main-image').src = newSrc;
        });
    });
</script>
</main>


{% endblock %} 