{% extends 'navbar.html' %}
{% load static %}
{% block content %}
{% include 'social_icons.html' %}
<hr>
<h1 style="text-align: center; color: #360909;">------------ Featured Products-----------</h1>

<div class="container">
{% for p in products %}

<div class="product">
  <img src="{{ p.image.url }}" alt="Product 1">
  <h2 style="color: #360909;">{{p.title}} </h2>
  <p class="description">{{p.description}}</p>
  <div class="price-container">
    <p class="previous-price">Ksh {{p.old_price}} </p>
  <p class="current-price">Ksh {{p.price}}</p>
  </div>
  <button class="wishlist-btn"><i class="ri-heart-line"></i></button>
  <button class="cart-btn"><i class="ri-shopping-cart-2-fill"></i></button>
  <button class="view-btn"><i class="ri-eye-line"></i></button>

</div>
{% endfor %}
<section class="section__container craft__container" id="craft">
  <div class="craft__content">
    <h2 style="color:#360909;" class="section__header">Crafted with excellent material</h2>
    <p class="section__subheader">
      Elevate Your Space with Quality and Style
    </p>
    <button class="btn">Explore</button>
  </div>
  <div class="craft__image">
    <div class="craft__image__content">
      <img src="{% static 'img/craft-1.png' %}" alt="craft" />
      <p>Nordic Chair</p>
      <h4>$65.00</h4>
    </div>
    <a href="#"><i class="ri-add-line"></i></a>
  </div>
  <div class="craft__image">
    <div class="craft__image__content">
      <img src="{% static 'img/craft-2.png' %}" alt="craft" />
      <p>Wingback Chair</p>
      <h4>$50.00</h4>
    </div>
    <a href="#"><i class="ri-add-line"></i></a>
  </div>
  <div class="craft__image">
    <div class="craft__image__content">
      <img src="{% static 'img/craft-3.png' %}" alt="craft" />
      <p>Accent Chair</p>
      <h4>$70.00</h4>
    </div>
    <a href="#"><i class="ri-add-line"></i></a>
  </div>
</section>

</div>






{% include 'footer.html' %}
{% endblock %}


