{% load static %}
<!--Social media Icons-->
<!-- <link rel="stylesheet"  href="{% static 'css/header.css' %}"> -->

<div class="socials_media_icons">
    <ul class="socials_sticky">
        <li>
            <img src="{% static 'img/icons8-facebook.svg' %}" width="32" height="32">
            <p ><a href="https://www.facebook.com/profile.php?id=61556916878048" target="_blank">Facebook</a></p>
        </li>
        <li>
            <img src="{% static 'img/icons8-twitterx.svg' %}" width="32" height="32">
            <p><a href="https://twitter.com/vectorwoodcraft?fbclid=IwAR2iqeJmwgHnA_-UssHixaA58BbTubYorizlu-xWX0-f2KhATvpTGMRAU_Q" target="_blank">Follow us on X</a></p>
        </li>
        <li>
            <img src="{% static 'img/icons8-instagram.svg' %}" width="32" height="32">
            <p><a href="https://www.instagram.com/vectorwoodcrafts_?igsh=MTdxZ3hoMDZ0ZTVrMg%3D%3D&utm_source=qr" target="_blank">Instagram</a></p>
        </li>
        <li>
            <img src="{% static 'img/tiktok.svg' %}" width="32" height="32">
            <p><a href="https://www.tiktok.com/@vectorwoodcrafts?is_from_webapp=1&sender_device=pc" target="_blank">TikTok</a></p>
        </li>
        <li>
            <img src="{% static 'img/pinterest.svg' %}" width="32" height="32">
            <p><a href="https://www.pinterest.com/vectorwoodcrafts/" target="_blank">Pinterest</a></p>
        </li>
        <li>
            <img src="{% static 'img/linkedin.svg' %}" width="32" height="32">
            <p><a href="https://www.linkedin.com/in/vector-woodcrafts-8863332ba/" target="_blank">LinkedIn</a></p>
        </li>
        <li>
            <img src="{% static 'img/square-youtube.svg' %}" width="32" height="32">
            <p><a href="https://www.youtube.com/channel/UCBTvQ7sYxAVjMT76RMGbs-A" target="_blank">YouTube</a></p>
        </li>
    </ul>
</div>
<!--Socials end here-->    